{% extends 'padre.html' %}


{% block contenidoQueCambia %}
  
  <h1>Titulo del Inicio</h1>

  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate necessitatibus provident eaque iusto nostrum animi, eligendi cum numquam illum ratione non ea eveniet debitis ad nobis quibusdam atque, distinctio quam!
  Voluptatum esse alias dolor odit a nemo ratione quis excepturi ipsam quasi ducimus voluptatibus cum reprehenderit in officia deserunt molestiae, reiciendis quae nobis minima tempore nesciunt perferendis? Aut, mollitia eaque?
  Sit ipsam dolores repellendus quisquam, magni dolorem? Eligendi recusandae nemo, id omnis perferendis autem placeat deserunt aliquid, officiis et, ab sapiente cum amet tempora assumenda. Blanditiis quasi accusamus nemo distinctio.
  Aut ad cum quis, rerum ullam rem omnis eius iure, laborum doloremque facere, distinctio officiis saepe quo repudiandae quod reiciendis nihil libero? Quos, distinctio? Enim consequatur aliquam accusantium iste nesciunt?
  Repellendus quod assumenda labore iure natus ex tempore facere? Adipisci rem praesentium, natus tenetur quae beatae autem et, harum dolores soluta cupiditate deleniti, architecto voluptatibus itaque voluptatem in minima consequatur.</p>

{% endblock contenidoQueCambia %}
  