<!-- Navigation-->
<nav class="navbar navbar-light bg-light static-top">
  <div class="container">
    <div class="home-button">
      <a class="navbar-brand" href="#!">Inicio</a>
    </div>
    <a class="navbar-brand" href="{% url 'Profesores' %}">Profesores</a>
    <a class="navbar-brand" href="{% url 'Cursos' %}">Cursos</a>
    <a class="navbar-brand" href="{% url 'Entregables' %}">Entregables</a>
    <a class="navbar-brand" href="{% url 'Estudiantes' %}">Estudiantes</a>
    <a class="btn btn-primary" href="#signup">Iniciar Sesion</a>
  </div>
</nav>
